// theme colors ***********************
$dark:			#2C4159;
$violet:		#271F47;
$primary:   #8AC140;
$secondary: #133C60;
$accent:    #82B1FF;
$error:     #D0021B;
$info:      #0195DA;
$link:      #0077CE;
$success:   #8AC140;
$grey:      #E6E7E8;
$grey1:     #BDBDBD;
$grey2:     #828282;
$grey3:     #4F4F4F;
$grey4:     #333333;
$yellow:    #FEC01D;
$badass:		#BADA55;
$cool:      #C2C6CC;

$small: 400px;
$md: 650px;
:root {
	--sm: 450px;
	--md: 650px;
}
