@import '@/assets/css/colors';

// tree styles **************************************** 
.tree-highlights .tree-node.matched > .tree-content {
  background: $yellow;
}
.tree-highlights .tree-node.selected > .tree-content {
  background-color: #C2C6CC;
}

.tree > .tree-filter-empty {
	margin: 1rem;
	font-size: 1.1rem;
	padding: .5rem 2rem;
	border: 3px double #333;
}

// tree grouping styles * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
.tree-group .tree-node.selected > .tree-content {
  background-color: $yellow;
}
.tree-group .tree-children .tree-node a {
	// background: red;
	margin-left: -30px !important;
}

// context menu ****************************************
.v-application ul.ctx-menu {
	padding-left: 0;
	li {
		padding: .3rem 1rem;
		cursor: pointer;
		&:hover {
			background: #eee;
		}
		i {
			font-size: 1.2rem;
			margin-right: .5rem;
		}
	}
}
