@import '@/assets/css/colors';
.zag {
	font-size: 2.0rem;
	color: #999;
	text-align: center;
}
.status {
	font-size: 1.1rem;
	/* text-align: left; */
	white-space: nowrap;
	span {
		// transform: rotate(-3deg);
		// color: $info;
		// color: #fff;
		// font-weight: 700;
		// border: 1px dotted #000;
		// border-radius: 3rem;
		// background: #ccc;

		letter-spacing: .5rem;
		border-top: 0.1rem solid #ccc;
		border-bottom: 0.1rem solid #ccc;
		// border-top: 0.2rem solid $info;
		// border-top: 4px double $info;
		// border-left: 1px solid $info;
		// border-right: 1px solid $info;
		// border-bottom: 0.2rem solid $info;
		display: inline-block;
		padding: .2rem 0;
		// padding: 0.20rem 0.9rem;
		text-transform: uppercase;
		/* border-radius: .3rem; */
		// font-family: 'Courier';
		/* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png'); */
		// -webkit-mask-image: url('../img/grunge.png');
		// -webkit-mask-size: 944px 604px;
		// mix-blend-mode: multiply;
		margin-top: .6rem;
	}
}
.txt {
	font-size: .8rem;
	text-align: center;
}
.rel {
	position: relative;
}

.blockhd {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: .15rem;
	color: $link;
}

// tree styles **************************************** 
.tree-highlights .tree-node.matched > .tree-content {
  background: $yellow;
}
.tree-highlights .tree-node.selected > .tree-content {
  background-color: #C2C6CC;
}

.tree > .tree-filter-empty {
	margin: 1rem;
	font-size: 1.1rem;
	padding: .5rem 2rem;
	border: 3px double #333;
}

// tree grouping styles * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
.tree-group .tree-node.selected > .tree-content {
  background-color: $yellow;
}
.tree-group .tree-children .tree-node a {
	// background: red;
	margin-left: -30px !important;
}

// context menu ****************************************
.v-application ul.ctx-menu {
	padding-left: 0;
	width: 195px;
	li {
		padding: .3rem 1rem;
		cursor: pointer;
		&:hover {
			background: #eee;
		}
		&:nth-last-child(2) {
			border-top: 1px dotted #666;
		}
		i {
			font-size: 1.2rem;
			margin-right: .5rem;
			&.next {
				font-size: .9rem;
				float: right;
				margin-right: -.5rem;
				margin-top: .2rem;
			}
		}
	}
}

.shad .v-text-field.v-text-field--solo .v-input__control {
	min-height: 0;
}

.v-input__slot {
	margin-bottom: 0;
}


.sm.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
	margin-bottom: 0;
}

// animation ***********************************
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.mytab {
	.v-tabs-slider-wrapper {
		top: 0;
		color: #000;
	}
	.v-tab {
		font-weight: 400;
	}
	.v-tab.v-tab--active {
		color: #000;
		font-weight: 500;
	}
}

// just test first commit

.v-item-group.theme--light.v-slide-group {
	background: transparent;
	border-top: 1px solid #ccc;
}
.theme--light.v-tabs-items {
	background-color: transparent;
}

.v-skeleton-loader__image {
	height: 800px;
}

.theme--light.v-expansion-panels .v-expansion-panel {
	border-bottom: 1px solid #ccc;
	background: transparent;
	&::before {
		box-shadow: none;
	}
}
.theme--light.v-expansion-panels .v-expansion-panel--active {
	background: #fff;
	border: 1px solid #ccc;
}
