.vis-timeline {
	background: #fff;
}
.vis-major {
	font-weight: bold;
}
.vis-inner {
	line-height: 50px;
}
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
	background: #fbeef0;
}
